:root {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #19a1ae;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  border: 1px solid red;
}

/* MAIN CARD SECTION */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.personal {
  background-color: #ffffff;
}

.personal .victor {
  display: inline;
  margin-top: -55px;
  border: 6px solid #ffffff;
  border-radius: 50%;
}

h1 {
  color: #2e3349;
}

h1 span {
  font-weight: 400;
  color: #6b7082;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #6b7082;
  padding-bottom: 1em;
}

/* STAT SECTION  */

.properties {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3em 1em;
  background-color: #ffffff;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #2e3349;
  border-top: 1px solid #e8e9ec;
}

.property {
  display: flex;
  flex-direction: column;
  color: #6b7082;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.15em;
  padding-top: 0.8em;
}

.gradient-top {
  z-index: -10;
  position: absolute;
  display: inline;
  background-image: url("images/bg-pattern-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -40%;
  left: 0;
}

.gradient-bottom {
  z-index: -10;
  position: absolute;
  display: inline;
  background-image: url("images/bg-pattern-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  bottom: -50%;
  right: -10;
  left: 50%;
}
